asgiref==3.10.0
colorama==0.4.6
Django==4.2.23
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
loguru==0.7.3
# mariadb==1.1.13
# mysqlclient==2.2.7
packaging==25.0
pillow==11.3.0
PyJWT==2.10.1
sqlparse==0.5.3
tzdata==2025.2
# win32_setctime==1.2.0
